# Compiled Object files
*.o

# Dependency files
*.d

# Ignore the entire build directory
build

# Binary and hex upload files
*.elf
*.hex

# Image files used to generate the keboard legends
*.pnm
*.png
